@import "tailwindcss";
@import "tw-animate-css";
@import "uploadthing/tw/v4";
@source "../node_modules/@uploadthing/react/dist";
@source "../../../apps/**/*.{ts,tsx}";
@source "../../../components/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);

  --background-200: oklch(98.5% 0.002 248);

  --ui-gray-100: oklch(96.1% 0 none);
  --ui-gray-200: oklch(94% 0 none);
  --ui-gray-300: oklch(92.5% 0 none);
  --ui-gray-400: oklch(93.7% 0 none);
  --ui-gray-500: oklch(83.6% 0 none);
  --ui-gray-600: oklch(73.2% 0 none);
  --ui-gray-700: oklch(65% 0 none);
  --ui-gray-800: oklch(59% 0 none);
  --ui-gray-900: oklch(51% 0 none);
  --ui-gray-1000: oklch(20.5% 0 none);

  --ui-blue-100: oklch(97.3% 0.013 252);
  --ui-blue-200: oklch(96.9% 0.015 248);
  --ui-blue-300: oklch(94.8% 0.026 248);
  --ui-blue-400: oklch(91.6% 0.043 246);
  --ui-blue-500: oklch(83.2% 0.089 247);
  --ui-blue-600: oklch(73% 0.147 248);
  --ui-blue-700: oklch(57.3% 0.214 258);
  --ui-blue-800: oklch(51.3% 0.191 258);
  --ui-blue-900: oklch(53.2% 0.189 257);
  --ui-blue-1000: oklch(26.6% 0.084 254);

  --ui-red-100: oklch(96.7% 0.016 17.4);
  --ui-red-200: oklch(95.6% 0.022 17.5);
  --ui-red-300: oklch(94.3% 0.029 17.7);
  --ui-red-400: oklch(91.3% 0.041 17.9);
  --ui-red-500: oklch(84.5% 0.072 18.7);
  --ui-red-600: oklch(71.3% 0.165 21.3);
  --ui-red-700: oklch(62.6% 0.193 23);
  --ui-red-800: oklch(58.2% 0.205 24.9);
  --ui-red-900: oklch(54.8% 0.195 25);
  --ui-red-1000: oklch(24.6% 0.059 17.6);

  --ui-amber-100: oklch(97.6% 0.024 83.4);
  --ui-amber-200: oklch(96.8% 0.042 90.8);
  --ui-amber-300: oklch(95.7% 0.048 88.8);
  --ui-amber-400: oklch(90.9% 0.104 86.8);
  --ui-amber-500: oklch(86.6% 0.127 79.6);
  --ui-amber-600: oklch(80.4% 0.143 74.2);
  --ui-amber-700: oklch(81.7% 0.164 75.8);
  --ui-amber-800: oklch(77.2% 0.173 64.2);
  --ui-amber-900: oklch(52.8% 0.131 54.6);
  --ui-amber-1000: oklch(30.7% 0.077 44.3);

  --ui-green-100: oklch(97.6% 0.02 145);
  --ui-green-200: oklch(96.9% 0.027 145);
  --ui-green-300: oklch(94.7% 0.044 145);
  --ui-green-400: oklch(91.9% 0.069 146);
  --ui-green-500: oklch(85.5% 0.122 146);
  --ui-green-600: oklch(80% 0.171 146);
  --ui-green-700: oklch(65.1% 0.147 147);
  --ui-green-800: oklch(57.7% 0.131 148);
  --ui-green-900: oklch(52% 0.127 148);
  --ui-green-1000: oklch(28.8% 0.044 148);

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);

  --radius: 0.625rem;
}

.dark {
  --background: oklch(14.5% 0 none);
  --foreground: oklch(0.985 0 0);

  --background-200: oklch(0% 0 none);

  --ui-gray-100: oklch(21.8% 0 none);
  --ui-gray-200: oklch(21.8% 0 none);
  --ui-gray-300: oklch(28.1% 0 none);
  --ui-gray-400: oklch(30.1% 0 none);
  --ui-gray-500: oklch(39% 0 none);
  --ui-gray-600: oklch(62.3% 0 none);
  --ui-gray-700: oklch(65% 0 none);
  --ui-gray-800: oklch(59% 0 none);
  --ui-gray-900: oklch(70.6% 0 none);
  --ui-gray-1000: oklch(94.6% 0 none);

  --ui-blue-100: oklch(22.1% 0.039 258);
  --ui-blue-200: oklch(25.9% 0.056 256);
  --ui-blue-300: oklch(30.9% 0.081 255);
  --ui-blue-400: oklch(34.1% 0.096 254);
  --ui-blue-500: oklch(38.9% 0.117 254);
  --ui-blue-600: oklch(65.1% 0.192 251);
  --ui-blue-700: oklch(57.3% 0.214 258);
  --ui-blue-800: oklch(51.3% 0.191 258);
  --ui-blue-900: oklch(71.9% 0.151 251);
  --ui-blue-1000: oklch(96.7% 0.018 240);

  --ui-red-100: oklch(22.1% 0.038 17.9);
  --ui-red-200: oklch(26.3% 0.06 18.9);
  --ui-red-300: oklch(31.3% 0.088 19.8);
  --ui-red-400: oklch(35.3% 0.104 21.2);
  --ui-red-500: oklch(40.6% 0.133 22.8);
  --ui-red-600: oklch(62.6% 0.193 23);
  --ui-red-700: oklch(62.6% 0.193 23);
  --ui-red-800: oklch(58.2% 0.205 24.9);
  --ui-red-900: oklch(70.1% 0.19 21.2);
  --ui-red-1000: oklch(95.8% 0.02 9.78);

  --ui-amber-100: oklch(22.1% 0.046 75.3);
  --ui-amber-200: oklch(25.3% 0.056 66.7);
  --ui-amber-300: oklch(31.7% 0.071 65.1);
  --ui-amber-400: oklch(35.7% 0.079 67.7);
  --ui-amber-500: oklch(40.9% 0.088 66.9);
  --ui-amber-600: oklch(74.9% 0.155 73.9);
  --ui-amber-700: oklch(81.7% 0.164 75.8);
  --ui-amber-800: oklch(77.2% 0.173 64.2);
  --ui-amber-900: oklch(76.9% 0.162 73.1);
  --ui-amber-1000: oklch(96.7% 0.031 84.6);

  --ui-green-100: oklch(22.8% 0.044 150);
  --ui-green-200: oklch(26.4% 0.052 150);
  --ui-green-300: oklch(29.5% 0.063 150);
  --ui-green-400: oklch(34.7% 0.092 148);
  --ui-green-500: oklch(44.2% 0.121 147);
  --ui-green-600: oklch(58.1% 0.165 147);
  --ui-green-700: oklch(65.1% 0.147 147);
  --ui-green-800: oklch(57.7% 0.131 148);
  --ui-green-900: oklch(73.4% 0.142 148);
  --ui-green-1000: oklch(96.8% 0.031 154);

  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-background-200: var(--background-200);
  --color-ui-gray-100: var(--ui-gray-100);
  --color-ui-gray-200: var(--ui-gray-200);
  --color-ui-gray-300: var(--ui-gray-300);
  --color-ui-gray-400: var(--ui-gray-400);
  --color-ui-gray-500: var(--ui-gray-500);
  --color-ui-gray-600: var(--ui-gray-600);
  --color-ui-gray-700: var(--ui-gray-700);
  --color-ui-gray-800: var(--ui-gray-800);
  --color-ui-gray-900: var(--ui-gray-900);
  --color-ui-gray-1000: var(--ui-gray-1000);

  --color-muted-foreground: var(--ui-gray-900);

  --color-ui-blue-100: var(--ui-blue-100);
  --color-ui-blue-200: var(--ui-blue-200);
  --color-ui-blue-300: var(--ui-blue-300);
  --color-ui-blue-400: var(--ui-blue-400);
  --color-ui-blue-500: var(--ui-blue-500);
  --color-ui-blue-600: var(--ui-blue-600);
  --color-ui-blue-700: var(--ui-blue-700);
  --color-ui-blue-800: var(--ui-blue-800);
  --color-ui-blue-900: var(--ui-blue-900);
  --color-ui-blue-1000: var(--ui-blue-1000);

  --color-ui-red-100: var(--ui-red-100);
  --color-ui-red-200: var(--ui-red-200);
  --color-ui-red-300: var(--ui-red-300);
  --color-ui-red-400: var(--ui-red-400);
  --color-ui-red-500: var(--ui-red-500);
  --color-ui-red-600: var(--ui-red-600);
  --color-ui-red-700: var(--ui-red-700);
  --color-ui-red-800: var(--ui-red-800);
  --color-ui-red-900: var(--ui-red-900);
  --color-ui-red-1000: var(--ui-red-1000);

  --color-ui-amber-100: var(--ui-amber-100);
  --color-ui-amber-200: var(--ui-amber-200);
  --color-ui-amber-300: var(--ui-amber-300);
  --color-ui-amber-400: var(--ui-amber-400);
  --color-ui-amber-500: var(--ui-amber-500);
  --color-ui-amber-600: var(--ui-amber-600);
  --color-ui-amber-700: var(--ui-amber-700);
  --color-ui-amber-800: var(--ui-amber-800);
  --color-ui-amber-900: var(--ui-amber-900);
  --color-ui-amber-1000: var(--ui-amber-1000);

  --color-ui-green-100: var(--ui-green-100);
  --color-ui-green-200: var(--ui-green-200);
  --color-ui-green-300: var(--ui-green-300);
  --color-ui-green-400: var(--ui-green-400);
  --color-ui-green-500: var(--ui-green-500);
  --color-ui-green-600: var(--ui-green-600);
  --color-ui-green-700: var(--ui-green-700);
  --color-ui-green-800: var(--ui-green-800);
  --color-ui-green-900: var(--ui-green-900);
  --color-ui-green-1000: var(--ui-green-1000);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--ui-gray-400);
  --color-input: var(--ui-gray-400);
  --color-ring: var(--ui-gray-500);

  --color-sidebar: var(--color-background-200);
  --color-sidebar-foreground: var(--foreground);
  --color-sidebar-accent: var(--ui-gray-200);
  --color-sidebar-accent-foreground: var(--foreground);
  --color-sidebar-border: var(--ui-gray-400);
  --color-sidebar-ring: var(--ui-gray-500);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --header-height: 56px;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background-200 text-foreground;
  }
}
